header#header
  div.wrapper.header-wrapper
    h1#h1
      a(href="/")
        img(src="img/jpp-logo.png", title="Jewish Play Project", alt="Jewish Play Project")

    nav#main-nav
      span#nav-toggle
        i.fa.fa-bars
        i.fa.fa-close
      ul#nav-list
        li.home-li
          a(href="/").wrapper Home
        li.player-li
          a(href="player.html").wrapper The Players
        li.timeline-li
          a(href="timeline.html").wrapper Timeline
        li.news-li
          a(href="news.html").wrapper News
        li.about-li
          a(href="about.html").wrapper About
