header#header
  div.wrapper.header-wrapper
    h1#h1
      a(href="/")
        img(src="img/jpp-logo.png", title="Jewish Play Project", alt="Jewish Play Project")

    nav#main-nav
      span#nav-toggle
        i.fa.fa-bars
        i.fa.fa-close
      ul#nav-list
        li
          a(href="/").wrapper.home-a Home
        li
          a(href="about.html").wrapper.about-a About
        li
          a(href="advisory-board.html").wrapper.board-a Advisory Board
        li
          a(href="news.html").wrapper.news-a News
