// footer styles
#footer {
  background: #444;
  color: #eee;
  padding: 0.5rem;
  margin-top: 4rem;
  @include mq(netbook) {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
  }
  .wrapper{
    display: flex;
  }
}
.copyright {
  text-align: left;
  flex: 1;
  margin-bottom: 0;
  font-size: 0.875rem;
}
.email {
  text-align: right;
  flex: 1;
  margin-bottom: 0;
  font-size: 0.875rem;
}
