$header-bkgd: #228dff;
$header-text-color: #99367f;

$color1: #f6eb0f;
$color2: #b6ff00;
$color3: #ed2724;
$color4: #72115d;


// header & navigation styles
#header {
  background: $header-bkgd;
  border-bottom: 1px solid #444;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101; // Places it above the embedded timeline
  a {
    color: inherit;
    text-decoration: none;
  }
}
.header-wrapper {
  display: flex;
  #h1       {flex: 3; }
  #main-nav {flex: 1; }
  @include mq(netbook) {
    #h1       {flex: 2; }
    #main-nav {
      flex: 3;
      right: -4rem;
    }
  }
}

#h1 {
  font-size: 1rem;
  margin: 0;
  padding: 0.75rem 0;
  img {
    max-width: 100%;
    max-height: 4rem;
  }
}

#nav-toggle {
  display: block;
  color: $header-text-color;
  text-align: right;
  position: relative;
  top: 1rem;
  @include hover();
  @include mq(netbook) {display: none; }
  .fa-bars, .fa-close {
    position: absolute;
    right: 0;
    font-size: 150%;
    transition: opacity 0.3s ease-out;
  }
  .fa-bars  {z-index: 505; opacity: 1; }
  .fa-close {z-index: 504; opacity: 0; }
  // show X when nav is open
  &.show-x {
    .fa-bars  {z-index: 504; opacity: 0; }
    .fa-close {z-index: 505; opacity: 1; }
  }
}

#main-nav {
  position: relative;
}

// ================= nav-list ==================
// the actual <a> links list
#nav-list {
  list-style: none;
  text-align: right;
  color: $header-text-color;
  font-weight: bold;
  // ----------------------------
  height: 100%;
  position: fixed;
  left: 0;
  top: 10.8%;
  width: 100%;
  z-index: 50;

  // off-screen styles
  transform: translateY(-400px);
  transition: 0.5s ease-out;
  &.show {transform: translateY(0);}
  // ----------------------------
  li {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #444;
    // .here styles so that the nav updates
    // to show a visitor what page we're on
    &.here {
      position: relative;
      &:after {
        content: "\00a0";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 2%;
        background: green;
      }
    }
  }
  a {
    display: block;
    padding: 0.5rem 0;
  }

  @include mq(netbook) {
    transform: translateY(0);
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    li {
      flex: 1;
      padding: 0;
      border-bottom: none;
      display: inline-block;
      transition: background 0.3s ease-out;
      // &:hover {
      //   background: darken($green, 15%);
      //   border-bottom: 1px solid darken($green, 20%);
      // }
      // &.here {
      //   background: $green;
      //   border-bottom: 1px solid $green;
      //   color: $white;
      // }
    }
    a {
      margin: 17% 0 0;
      width: 85%;
      text-align: center;
      padding: 0.35rem 0.25rem;
      //border-radius: 6px;
      transition: background 0.3s ease-out;
    }
  }

}
// nav colors
.home-li {background: $color1;}
.player-li {background: $color2;}
.timeline-li {background: $color3; color: #fff;}
.news-li {background: $color4; color: #fff;}
.about-li {background: $color2;}

@include mq(netbook) {
  .home-li {background: none;}
  .player-li {background: none;}
  .timeline-li {background: none; color: $header-text-color;}
  .news-li {background: none; color: $header-text-color;}
  .about-li {background: none;}
}

.home-li:hover {background: $color1;}
.player-li:hover {background: $color2;}
.timeline-li:hover {background: $color3; color: #fff !important;}
.news-li:hover {background: $color4; color: #fff !important;}
.about-li:hover {background: $color2;}

body[data-page='index'] .home-li {background: $color1;}
body[data-page='player'] .player-li {background: $color2;}
body[data-page='timeline'] .timeline-li {background: $color3; color: #fff !important;}
body[data-page='news'] .news-li {background: $color4; color: #fff !important;}
body[data-page='about'] .about-li {background: $color2;}


// ================ end nav-list ===================
