// base styles
@import "pieces/vars";
@import "pieces/mixins";
@import "pieces/classes";
@import "pieces/normalize";
@import "pieces/base";
// @import "pieces/typography";

$main-text-color: #72115d;
$main-bkgd: #e7f6ff;

/* t1 - t6 */
.t1 {
  font-size: 2.25rem;
  margin: 0 0 0.5em;
  display: block;
}

#main {
  color: $main-text-color;
  margin-top: 6rem;
  padding-top: 1rem;
  margin-bottom: 4rem;
}

// generic article styles
.article {
  p {
    font-size: 1.125rem;
    max-width: 35em;
  }
}

body {
  background: $main-bkgd;
}

@import "header"; // includes navigation styles
@import "footer";
@import "news";
@import "people";

.jpp-big-logo {
  img {
    display: block;
    max-width: 100%;
    @include mq(netbook) {
      display: none;
    }
  }
}

// Override timeline bg color
.vco-storyjs {
  background-color: $main-bkgd !important;
}
