doctype html
head
  title About - Jewish Play Project
  meta(name="description", content="description")
  include html/meta.jade
  include html/head-scripts.jade


body#jpp(data-page="about")
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    include html/header.jade

    div#main
      div.wrapper
        article.about-the-project.article
          h2.t1 About the Jewish Play Project

          h2.t2 How this got started
          p.
            Two years ago Professor Stephen Jacobs and Rabbi Robert Morais began discussing the potential for an exhibit on Judaism, play, toys and games for the JCC of Metro Detroit’s Shalom Street Museum. That discussion led to #[a(href="http://www.jccdet.org/children-teens-a-families/shalom-street" target="_blank") Shalom Street]'s current exhibition, “Across the Board: From Dreidel to XBOX: The toys and games of the Jewish People”
          p.
            During Professor Jacobs' research on the “Toymakers Hall of Fame” section in the summer of 2014, it became clear that there was a much larger story to tell than the exhibit itself could support and so the the idea for the Jewish Play Project was born. The Jewish Play Project is supported by the Center for Media, Art, Games, Interaction and Creativity (MAGIC) at the Rochester Institute of Technology.
          h2.t2 Contact
          p.
            For more information about this effort, to point out errata, suggest an addition or enquire about becoming a contributor, feel free to send an email to:
          p. jewishplayproject AT gmail DOT com
          h2.t2 Why it’s on-line now even though its not “finished.”
          p.
            First, this topic covers hundreds of people and companies and potentially thousands of toys since the 1800s.  There’s opportunity here for decades worth of collaborative scholarly work across numerous institutions.  It will be a long time before these efforts are “finished.”
          p.
            Second, we believe in Open Source and Free Content (RIT has the first academic minor in the topic)  The philosophy of those communities is to get work out into the community as soon as possible to encourage collaboration.
          p.
            Third, many of our initial discoveries, and this current web site site, would not be possible without the World Wide Web; a technology created to encourage dissemination of pre-publication work to encourage knowledge sharing. It seems only right to make this information public as early as possible.

          h2.t1 Who we are
          h2.t2 Founder
          ul.board-list
            li
              figure.board-member-picture
                img(src="/img/stevej.png")
              article.board-member-overview
                h3.board-member-name Stephen Jacobs
                p.board-member-blurb
                  |Associate Director of the #[a(href="http://magic.rit.edu/" target="_blank") Center for Media, Art, Games, Interaction and Creativity] at the Rochester Institute of Technology
                p.board-member-blurb
                  |Professor, #[a(href="http://games.rit.edu" target="_blank") School of Interactive Games and Media] at RIT
                p.board-member-blurb
                  |Visiting Scholar, #[a(href="http://www.museumofplay.org/" target="_blank") Strong National Museum of Play]’s #[a(href="http://www.museumofplay.org/about/icheg" target="_blank") International Center for the History of Electronic Games]

          h2.t2 Advisor
          ul.board-list
            li
              figure.board-member-picture
                img(src="/img/arthurk.jpg")
              article.board-member-overview
                h3.board-member-name Arthur Kiron
                p.board-member-blurb
                  |#[a(href="http://ccat.sas.upenn.edu/jwst/people/arthur-kiron" target="_blank") Schottenstien-Jesselson Curator of Judaica Collections]
                p.board-member-blurb
                  |University of Pennsylvania Center for Advanced Judaic Studies

          h2.t2 Developers
          ul.board-list
            li
              figure.board-member-picture
                img(src="/img/jennk.jpg")
              article.board-member-overview
                h3.board-member-name Jenn Kotler
                p.board-member-blurb
                  |Jenn Kotler recently graduated from Rochester Institute of Technology where she studied Medical Illustration and Game Design. She believes games, software, and art can break barriers and empower people, especially in education. Check out more of her work at #[a(href="http://www.jennk.com/" target="_blank") www.jennk.com].
            li
              figure.board-member-picture
                img(src="/img/luisr.jpg")
              article.board-member-overview
                h3.board-member-name Luis Rosario
                p.board-member-blurb
                  |Luis Rosario is a front-end developer who was born in Mexico but raised in Western, NY. He is a recent RIT grad from the from the New Media Developer program. His Website is can be found at #[a(href="http://www.luisrosar.io/" target="_blank") http://www.luisrosar.io/].
            li
              figure.board-member-picture
                img(src="/img/andrewm.jpg")
              article.board-member-overview
                h3.board-member-name Andrew Mandula
                p.board-member-blurb
                  |Andrew Mandula is a graduating Game Design & Development major at Rochester Institute of Technology. With his free time, He work on Open Source Projects such as educational tools teaching players about Diabetes, and game developer tools to write their game content in Twine and use it in Unity. #[a(href="http://andrewmandula.com" target="_blank") andrewmandula.com]
            li
              figure.board-member-picture
                img(src="/img/jackiew.jpg")
              article.board-member-overview
                h3.board-member-name Jackie Wiley
                p.board-member-blurb
                  |Jackie Wiley is a Game Design and Illustration student studying at RIT. She has a passion for creating worlds that draw players in and immerse them in the experience. #[a(href="http://jlw6587.wix.com/portfolio" target="_blank") Portfolio]
            li
              figure.board-member-picture
                img(src="/img/alexm.jpg")
              article.board-member-overview
                h3.board-member-name Alexandria Mack
                p.board-member-blurb
                  |Alexandria Mack is pursuing a degree in Game Design and Development at RIT. She recently worked on the back-end for an open source game called Flossopher vs Net Neutrality. Alex also had the opportunity to take notes during voice over sessions for a sound designer. Check out more at #[a(href="http://alexandriamack.com" target="_blank") alexandriamack.com ]
            li
              figure.board-member-picture
                img(src="/img/changbail.jpg")
              article.board-member-overview
                h3.board-member-name Changbai Li
                p.board-member-blurb
                  |Changbai Li worked on Jewish Play Project's web development. He expects graduation from RIT's New Media Interactive Development Major in May 2015. Changbai enjoys creating games, websites, and occasionally impractical digital media experiments. #[a(href="http://changbai.li" target="_blank") www.changbai.li].

    include html/footer.jade

  include html/scripts.jade
</html>
