doctype html
head
  title Jewish Play Project
  meta(name="description", content="description")
  include html/meta.jade
  include html/head-scripts.jade
  include html/carousel-scripts.jade

body#jpp(data-page="index")
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    include html/header.jade

    div#main
      div.wrapper

        h2.t1 Welcome to The Jewish Play Project Website
        div.home-article
          p. Our goal is to promote understanding of the role of Jewish designers, entrepreneurs and inventors in the past, present and future of the play industries.
          p. In pursuit of this mission we wish to support enquiry into the history of these “players’ within the play industries and the larger questions around the role of Jewish culture and/or practice in the lives of those who made that history.
          p. Our initial effort toward our mission is this web site and its interactive timeline.  In the future we plan to expand this resource into a fully searchable research database open to contributors from academia, industry and  members of the collecting community. We also aspire to support formal and informal education and scholarship in this space through such efforts as conferences, publications, public programs and museum exhibitions.

      div.carousel-wrapper
        p.carousel-caption
          |Images of #[a(href="http://www.toyhalloffame.org/", target="_blank") National Toy Hall of Fame] inducted toys from #[a(href="http://www.museumofplay.org/online-collections/", target="_blank") The Strong National Museum of Play’s Online Archives.]

        div.carousel
          figure.color1
            img(src="/img/easybakeoven.jpg")
          figure.color2
            img(src="/img/teddybear.jpg")
          figure.color3
            img(src="/img/rubikscube.jpg")
          figure.color4
            img(src="/img/playdoh.jpg")
          figure.color2
            img(src="/img/mrpotatohead.jpg")
          figure.color1
            img(src="/img/boardgame.jpg")
          figure.color4
            img(src="/img/bigwheels.jpg")
          figure.color3
            img(src="/img/barbie.jpg")
          figure.color1
            img(src="/img/easybakeoven.jpg")
          figure.color2
            img(src="/img/teddybear.jpg")
          figure.color3
            img(src="/img/rubikscube.jpg")
          figure.color4
            img(src="/img/playdoh.jpg")

    include html/footer.jade

  include html/scripts.jade
</html>
