doctype html
head
  title Jewish Play Project
  meta(name="description", content="description")
  include html/meta.jade
  include html/head-scripts.jade
  include html/carousel-scripts.jade

body#jpp(data-page="index")
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    include html/header.jade

    div#main
      div.wrapper

        div#carousel.owl-carousel.owl-theme
          figure.item
            img(src="/img/stevej.png")
          figure.item
            img(src="/img/arthurk.jpg")
          div.item
            h1 3
          div.item
            h1 4
          div.item
            h1 5
          div.item
            h1 6
          div.item
            h1 7
          div.item
            h1 8
          div.item
            h1 9
          div.item
            h1 10

        h2.t1 Welcome to The Jewish Play Project Website
        p. Our goal is to promote understanding of the the role of Jewish Designers, Entrepreneurs and Inventors in the past, present and future of the play industries.
        p. In pursuit of this mission we wish to support enquiry into the history of these “players’ within the play industries and the larger questions around the role of Jewish culture and practice in the lives of those who made that history.
        p. Our initial effort toward our mission is this web site and its interactive timeline.  In the future we plan to expand this resource into a fully searchable research database open to contributors from academia, industry and the collecting community. We also aspire to support formal and informal education and scholarship and pure and applied work in this space through such efforts as conferences, publications, public programs and museum exhibitions.

    include html/footer.jade

  include html/scripts.jade
</html>
