doctype html
head
  title News - Jewish Play Project
  meta(name="description", content="description")
  include html/meta.jade
  include html/head-scripts.jade


body#jpp(data-page="news")
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    include html/header.jade

    div#main
      div.wrapper
        h2.t1 News
        p Follow the latest news on the project!
          a(href="#related-links").related-links-anchor View related links

        div.news-container
          ul.news-list
            li
              h3.news-title
                |Jewish Play Project explores relationship between Jewish creators and the play industries
              h4.news-subtitle
                |RIT MAGIC Center initiative highlights new chapter in Jewish history
              p.news-article-info #[strong Release Date:] Dec. 16, 2014
              p.news-article-info #[strong Contact:] Scott Bureau
              p.news-article-info #[a(href="mailto:sbbcom@rit.edu") sbbcom@rit.edu] or 585-475-2481
              p.
                Mr. Potato Head, the Rubik’s Cube and the Big Wheel.
              p.
                These are just a few of the iconic playthings featured in the Jewish Play Project, a new Rochester Institute of Technology initiative that explores the role of Jewish designers, entrepreneurs and inventors in the play industries.
              p.
                Created by RIT students, alumni and Professor Stephen Jacobs, associate director of
                #[a(href="http://magic.rit.edu/" target="_blank") RIT’s Center for Media, Arts, Games, Interaction and Creativity], the project aims to help scholars, industry members and interested individuals learn about and research a newly discovered chapter in Jewish history.
              p.
                The website,
                #[a(href="http://jewishplayproject.org/" target="_blank") jewishplayproject.org], is the starting point for the project with an interactive timeline and database of toys, games and video games made by Jewish people and companies. The project has already identified more than 130 key Jewish individuals and 80 companies that have made their mark on the play industries, making everything from toy trains to pinball machines and video games.
              p.
                “Most scholars were only aware of a handful of major names in the field who were Jewish,” said Jacobs, who is also a professor in RIT’s School of Interactive Games and Media and a Visiting Scholar at The Strong. “However, when I began digging into the subject I discovered that Jewish individuals and companies had a major role in shaping the culture of play for almost two centuries.”
              p.
                Jacobs’ exploration into the relationship between Judaism and play began as research for
                #[em Across the Board: From Dreidel to Xbox], a Shalom Street Museum exhibit at the Jewish Community Center of Metropolitan Detroit. He searched for information online and in the collections of The Strong museum, which includes the International Center for the History of Electronic Games.
              p.
                “It became clear that there was a much larger story to tell than the exhibit itself could support,” Jacobs said.
              p.
                Jacobs began creating the website in Fall 2014 with help from Jennifer Kotler, a 2014 medical illustration alumna, Luis Rosario, a 2014 new media interactive development alumnus, and current game design and development students Alexandria Mack, Andrew Mandula, Jacqueline Wiley and Changbai Li.
              p.
                “Over the next twelve months we plan to expand the website to offer a fully searchable database that allows approved members of the scholarly and industry communities to contribute information,” said Jacobs. “There’s a fantastic opportunity for members to dig deep into the questions of why this came about, to do biographical research on the key players and much more.”
              p.
                Beyond the website, Jacobs has plans to work with organizations to create public programming and scholarly conferences around the Jewish role in the play industries.
              p.news-divider
                ##
              p.
                #[strong Caption]: The Jewish Play Project, a RIT MAGIC Center initiative created by Stephen Jacobs, looks to explore a new field of Jewish achievements—the designers, entrepreneurs and inventors who impacted the play industries.
              h3.
                About RIT’s MAGIC Center
              p.
                RIT’s Center for Media, Arts, Games, Interaction and Creativity (MAGIC) supports and engages students, faculty and staff from across the university in turning ideas into marketable products. The center focuses on digital media, providing the university with a nonprofit research and development laboratory and a for-profit production studio. RIT’s MAGIC Center is designed to bridge many of the barriers between academia and the digital media industry that hinder research and production.


              //- a(href="#").read-more Read more...

          //-
            aside#related-links
              h3.t3 Related Links
              ul.related-links-list
                li
                  a(href="#") Related article 1
                li
                  a(href="#") Related article 2
                li
                  a(href="#") Related article 3

    include html/footer.jade

  include html/scripts.jade
</html>
