doctype html
head
  title News - Jewish Play Project
  meta(name="description", content="description")
  include html/meta.jade
  include html/head-scripts.jade


body#jpp(data-page="news")
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    include html/header.jade

    div#main
      div.wrapper
        h2.t1 News
        p Follow the latest news on the project!
          a(href="#related-links").related-links-anchor View related links

        div.news-container
          ul.news-list
            li
              h3.news-title
                a(href="#").
                  The Strong’s Collections Inform First-Ever
                  Exhibit on Jewish Toy and Game Makers
              p.release-date October 28th, 2014
              p.
                The lovable Mr. Potato Head, the Easy-Bake Oven and
                the Big Wheel. These iconic playthings, each a National
                Toy Hall of Fame inductee, were all designed, invented
                and/or sold by Jewish toymakers and they’re not alone.
                Across the Board: From Dreidel to Xbox an exhibit at the
                Jewish Community Center of Metropolitan Detroit’s Shalom
                Street Museum is the first exhibit to explore the
                relationship between Judaism and Play. The exhibit was
                created in consultation with Stephen Jacobs, visiting
                scholar at The Strong museum in Rochester, NY and
                associate director of the Rochester Institute of
                Technology’s Media, Arts, Games, Interaction, and
                Creativity (MAGIC) Center. Jacobs’ research for the
                exhibit was solidified in The Strong’s extensive collections
                of more than 400,000 play-related objects.
              a(href="#").read-more Read more...
            li
              h3.news-title
                a(href="#").
                  The Strong’s Collections Inform First-Ever
                  Exhibit on Jewish Toy and Game Makers
              p.release-date October 28th, 2014
              p.
                The lovable Mr. Potato Head, the Easy-Bake Oven and
                the Big Wheel. These iconic playthings, each a National
                Toy Hall of Fame inductee, were all designed, invented
                and/or sold by Jewish toymakers and they’re not alone.
                Across the Board: From Dreidel to Xbox an exhibit at the
                Jewish Community Center of Metropolitan Detroit’s Shalom
                Street Museum is the first exhibit to explore the
                relationship between Judaism and Play. The exhibit was
                created in consultation with Stephen Jacobs, visiting
                scholar at The Strong museum in Rochester, NY and
                associate director of the Rochester Institute of
                Technology’s Media, Arts, Games, Interaction, and
                Creativity (MAGIC) Center. Jacobs’ research for the
                exhibit was solidified in The Strong’s extensive collections
                of more than 400,000 play-related objects.
              a(href="#").read-more Read more...
            li
              h3.news-title
                a(href="#").
                  The Strong’s Collections Inform First-Ever
                  Exhibit on Jewish Toy and Game Makers
              p.release-date October 28th, 2014
              p.
                The lovable Mr. Potato Head, the Easy-Bake Oven and
                the Big Wheel. These iconic playthings, each a National
                Toy Hall of Fame inductee, were all designed, invented
                and/or sold by Jewish toymakers and they’re not alone.
                Across the Board: From Dreidel to Xbox an exhibit at the
                Jewish Community Center of Metropolitan Detroit’s Shalom
                Street Museum is the first exhibit to explore the
                relationship between Judaism and Play. The exhibit was
                created in consultation with Stephen Jacobs, visiting
                scholar at The Strong museum in Rochester, NY and
                associate director of the Rochester Institute of
                Technology’s Media, Arts, Games, Interaction, and
                Creativity (MAGIC) Center. Jacobs’ research for the
                exhibit was solidified in The Strong’s extensive collections
                of more than 400,000 play-related objects.
              a(href="#").read-more Read more...


          aside#related-links
            h3.t3 Related Links
            ul.related-links-list
              li
                a(href="#") Related article 1
              li
                a(href="#") Related article 2
              li
                a(href="#") Related article 3

    include html/footer.jade

  include html/scripts.jade
</html>
