doctype html
head
  title People - Jewish Play Project
  meta(name="description", content="description")
  include html/meta.jade
  include html/head-scripts.jade


body#jpp(data-page="people")
  a(href="#main", class="assistive-text") Skip to main content
  div.container
    include html/header.jade

    div#main
      div.wrapper
        h2.t1 People
        p These are some of the members that have helped make this project possible

        ul.board-list
          li
            figure.board-member-picture
              img(src="http://lorempixel.com/150/150/people")
            article.board-member-overview
              h3.board-member-name Stephen Jacobs
              p.board-member-blurb Maxime reprehenderit porro nesciunt, facilis vero. Natus doloremque cum eum mollitia dolores deserunt possimus saepe quis beatae quas, assumenda voluptatum blanditiis corrupti.
          li
            figure.board-member-picture
              img(src="http://lorempixel.com/150/150/people")
            article.board-member-overview
              h3.board-member-name Rad Stewart
              p.board-member-blurb Suscipit laudantium nesciunt eum odio ut ex rem! Soluta expedita magni praesentium quam maxime tenetur. Id eaque ipsum quas consequuntur numquam impedit!
          li
            figure.board-member-picture
              img(src="http://lorempixel.com/150/150/people")
            article.board-member-overview
              h3.board-member-name Janis Hendrix
              p.board-member-blurb Nemo dolores cupiditate beatae, atque sed autem, enim doloribus distinctio corporis sit vero impedit ut facilis itaque, porro rem rerum adipisci aliquid.
          li
            figure.board-member-picture
              img(src="/img/jennk.jpg")
            article.board-member-overview
              h3.board-member-name Jenn Kotler
              p.board-member-blurb
                |Jenn Kotler recently graduated from Rochester Institute of Technology where she studied Medical Illustration and Game Design. She believes games, software, and art can break barriers and empower people, especially in education.
              p.board-member-blurb
                |You can check out more of her work at her website: #[a(href="http://www.jennk.com/" target="_blank") www.jennk.com].
          li
            figure.board-member-picture
              img(src="/img/luisr.jpg")
            article.board-member-overview
              h3.board-member-name Luis Rosario
              p.board-member-blurb
                |Front-end developer from Albion, NY. Born in Mexico but raised in western New York, I am recent RIT grad from the New Media Developer program.
              p.board-member-blurb
                |My Website is #[a(href="http://www.luisrosar.io/" target="_blank") http://www.luisrosar.io/]


    include html/footer.jade

  include html/scripts.jade
</html>
